.navbar{
    list-style: none;
    margin: 0;
    padding: 0;
    background: rgba(126, 28, 61, 0.596);
    border-radius: 5px;
    /*Cuando el contenido sobrepasa el tamaño de su espacio se agrega una barra de sroll*/
    overflow: auto;
    text-align: center;
}

.navbar li {
    display: inline-block;
}

.navbar li a{
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 15px 20px;
    transition: background-color 0.6s;
}

.navbar li a:hover {
    background-color: rgb(92, 53, 114);
    color: white;
    transform: scale(1.2);
}


#encabezado{
    margin-left: 20px;
    margin-right: 20px;
}

header{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img{
    width: 90px;
    height: 90px;
    display: block;
    margin: 0 auto;
}

body{
        margin: 0;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        line-height: 1.1em;
        text-align: center;
    }

.container {
        max-width: 100%  ;
        margin: 50px auto;
}

*{
        box-sizing:border-box;
    }

.box {
        width: 300px;
        height: 420px;
        background: #ffffff;
        border: 3px solid rgb(65, 65, 65);
        padding: 20px;
        margin-bottom: 15px;
        border-radius: 10px;
        margin-right: 20px;
        display: inline-block;
        transition: transform 0.3s;
    }

.box img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.box:hover{
    transform: scale(1.1);
    border-color: rgb(126, 28, 61, 0.596);
}

.box p {
        text-align: justify;
        font-size: 13px;
    }

#art1, #art2, #art3, #art4 h4 {
       
        color: black;
        text-align: center;
    }

#art1, #art2, #art3, #art4{
        margin-top: 3%;
        float:left;
        width: 20%;
        background: #ffffff;
        color: #000000;
    }

#cajas {
        display: flex;
        justify-content: center;
}

footer{
    background-color: #000000;
    color: #ffffff;

}